<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>https://uatetestwx.hopebank.com:1445/xinwangtong/v1/download?key=version/94fdae860b3c4b1a9618b7759da86db6_tong_release-1.0.0_1_1.0.0_38_Release.ipa</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>https://uatetestwx.hopebank.com:1445/xinwangtong/logo.png</string>
               </dict>
           <dict>
                   <key>kind</key>
                   <string>full-size-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>https://uatetestwx.hopebank.com:1445/xinwangtong/logo.png</string>
               </dict>
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>com.xwbank.tong</string>
               <key>bundle-version</key>
               <string>1.0.0</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>Release</string>
               <key>title</key>
               <string>tong_release-1.0.0_1_1.0.0_38_Release.ipa</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
